.grid {
    display: flex;
    width: 500px;
    height: 500px;
}

.grid__row {
    display: flex;
    flex-direction: column;

    flex: 1;
}

.grid__square {
    display: flex;
    flex: 1;

    border: 1px solid black;
}

.grid__hovered {
    background-color: black;
}